<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список всех студентов</title>
</head>
<body>
<h2>Список всех студентов</h2>
<p>Ниже представлен список студентов</p>

<table>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Предмет</th>
        ,<th>Стаж</th>
    </tr>
    <tr th:each="student: ${students}">
        <th th:text = "${student.id}"></th>
        <th th:text="${student.name}"></th>
        <th th:text = "${student.grade}"></th>
        <th th:text = "${student.progress}"></th>
    </tr>
</table>

<th><a th:href = "@{/questionnaires}">Посмотреть все доступные методики</a></th>
<p></p>
<p><th><a th:href = "@{teachers/filter/0}">Фильтровать по опыту работы(по умолчанию - 0)</a></th></p>
<p><th><a th:href = "@{/teachers}">Фильтровать по предмету (функционал не доступен)</a></th></p>
</body>
</html>