<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Профиль студента</title>
    </head>
    <body>
        <h3 th:text="${student.name}">Имя: </h3>
        <p>ID: <span th:text="${student.id}"></span></p>
        <p>Класс: <span th:text="${student.grade}"></span></p>
        <p>Прогресс обучения: <span th:text="${student.progress}"></span></p>
        <p></p>
        <h4>Тесты, которые нужно пройти</h4>
        <table>
            <tr>
                <th>ID</th>
                <th>Имя</th>
            </tr>
            <tr th:each="questionnaire: ${noPass}">
                <th th:text = "${questionnaire.id}"></th>
                <th th:text="${questionnaire.name}"></th>
            </tr>
        </table>

        <h4>Пройденные тесты</h4>
        <table>
            <tr>
                <th>ID</th>
                <th>Имя</th>
            </tr>
            <tr th:each="questionnaire: ${pass}">
                <th th:text = "${questionnaire.id}"></th>
                <th th:text="${questionnaire.name}"></th>
            </tr>
        </table>
        <p>Показать список учителей</p>
        <p>Найти учителя по имени</p>
        <p>Пройти методику</p>
        <p></p>


        <a th:href = "@{/auth}"> Выйти </a>

    </body>
</html>