<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Список преподвателей</h2>
    <p>Ниже представлен список преподавателей, их стаж и предметы. </p>
        <table>
            <tr>
                <th>ID</th>
                <th>Предмет</th>
                ,<th>Количество студентов по предмету: </th>
            </tr>
            <tr th:each="subject: ${subjects}">
                <th th:text = "${subject.id}"></th>
                <th th:text="${subject.name}"></th>

            </tr>
        </table>
</body>
</html>