<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Role</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
<h2>Список ролей</h2>
<p>Ниже представлен список ролей. </p>
<table>
    <tr>
        <th>ID</th>
        <th>Роль</th>
    </tr>
    <tr th:each="role: ${roles}">
        <th th:text = "${role.id}"></th>
        <th th:text="${role.name}"></th>

    </tr>
</table>

<!--<th><a th:href = "@{/questionnaires}">Посмотреть все доступные методики</a></th>-->
<!--<p></p>-->
<!--<p><th><a th:href = "@{teachers/filter/0}">Фильтровать по опыту работы(по умолчанию - 0)</a></th></p>-->
<!--<p><th><a th:href = "@{/teachers}">Фильтровать по предмету (функционал не доступен)</a></th></p>-->

</body>
</html>